{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
  <title>Login - CCN</title>
  <meta name="author" content="Anyelser Perez">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style-ie.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery.backgroundSize.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script-ie.js' %}"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
  <section id="page" class="body">
    <div class="container">
      <div class="margin-container">
        <div class="default-container dc-logo">
          <img src="{% static 'img/logoProyecto.jpg' %}" height="86" width="250">
          <p class="logo_label">Sistema EPP</p>
        </div>
          <div class="login center">
            <div class="body">
              <form action="{% url 'login:login' %}" method="post" encoding='utf-8'>
              {% csrf_token %}
              <div class="default-container">
                <ul>
                                <li>
                                    <div class="border-up">
                                        <div class="inputup-bg">
                                            
                                            {{ form.username }}

                                        </div>
                                    </div>
                                </li>
                                <li>
                                  <div class="border-down">
                                        <div class="inputdown-bg">
                                           
                                            {{form.password}}

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                       {% if form.non_field_errors  %}
                              <ul class="messages">
                                <li class="warning">
                                  Combinacion de credenciales incorrecta.
                                </li>
                              </ul>     
                        {% endif %}

                        <div class="default-container-top">
                          <button class="btn colorBoton" type="submit">Iniciar sesion</button>
                        </div>
                  </form>
            </div>
          </div>
      </div>
    </div>
  </section>
</body>
</html>