{% extends "base.html" %}
{% load static %}


{% block titulo %}Producto | Borrar{% endblock %}



{% block enlacessecundariosCSS %}
        
{% endblock %}


{% block menu_superior %}

        <!--Aqui se incluye el menu superior-->
        {% include "menusuperior.html" %}
        
{% endblock%}

{% block menu_lateral %}

        <!--Aqui se incluye el menu superior-->
        {% include "menulateral.html" with person=user.username %}
            
{% endblock%}

{% block cuerpo %}

<main class="app-content">
    <div class="card" style="width: 18rem;">
        

    <form method="post">
        {% csrf_token %}
        
        <div class="alert alert-danger" role="alert">
            <p>¿Tu estas seguro de querer eliminar al {{object}}? </p>
          </div>
        <input class="btn btn-primary btn-sm btnEditUser" type="submit" value="Si, Confirmar">
        <a href="{% url 'profesores:listaProfesores' %}"><button type="button" class="btn btn-info btn-sm btnEditUser"><i class="fas fa-regular fa-address-book"></i> Cancelar</button></a>
    </form>
      </div>
  </main>
            
            {% endblock%}






            {% block enlacessecundariosJS %}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
                <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
                <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
                <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
                <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
            {% endblock %}