{% extends "base.html" %}
{% load static %}


{% block titulo %}Producto | Crear{% endblock %}



{% block enlacessecundariosCSS %}
        
{% endblock %}


{% block menu_superior %}

        <!--Aqui se incluye el menu superior-->
        {% include "menusuperior.html" %}
        
{% endblock%}

{% block menu_lateral %}

        <!--Aqui se incluye el menu superior-->
        {% include "menulateral.html" with person="Jane" %}
            
{% endblock%}

{% block header_cuerpo %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Productos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Productos</a></li>
              <li class="breadcrumb-item active">Crear</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% endblock%}

{% block cuerpo_1 %}

{% endblock%}



{% block cuerpo_2 %}

                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Productos</h1>
                            <ol class="breadcrumb mb-4">
                            </ol>
                            
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    CREAR 
                                </div>
                                <div class="card-body">

                                    
                                    <form action="#" method="post">
                                        {% csrf_token %}
                                        <div class="row g-3 align-items-center">
                                            
                                            <div class="col-auto">
                                                <label for="">{{ form.nombre.label }}</label>
                                                {{ form.nombre }}
                                                <label for="">{{ form.descripcion.label }}</label>
                                                {{ form.descripcion }}
                                                <label for="">{{ form.cantidad.label }}</label>
                                                {{ form.cantidad }}
                                             </div>




                                            <div class="col-auto">
                                                
                                                <label for="">{{ form.tipo.label }}</label>
                                                {{ form.tipo }}
                                                <label for="">{{ form.marca.label }}</label>
                                                {{ form.marca }}
                                              
                                            </div>

                                        </div>
                                        
                                        <span id="passwordHelpInline" class="form-text">
                                            <input type="submit" class="btn btn-warning" value="Crear" disabled>
                                        </span>
                                            
                                    </form>

                                </div>
                            </div>
                        </div>
                    </main>
                    <footer class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Your Website 2022</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            
            {% endblock%}



            {% block enlacessecundariosJS %}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
                
                <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
                <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
            {% endblock %}